version = 0.14.1
profile = default
break-cases = toplevel
break-fun-decl = fit-or-vertical
break-infix = fit-or-vertical
cases-exp-indent = 2
doc-comments-padding = 1
if-then-else = k-r
indicate-multiline-delimiters = closing-on-separate-line
leading-nested-match-parens = true
let-and = sparse
let-open = preserve
module-item-spacing = preserve
parens-ite = true
parens-tuple-patterns = always
parse-docstrings = true
single-case = sparse
type-decl = sparse
wrap-comments = true
